<div class="wrapper">
	  <% include templates/navigation %>
	<div id="content">
		<% include templates/toggleNav %>

		<% include scheduler/dhtmlxScheduler_v5.1.6/samples/05_calendar/06_recurring_form.html %>
   
	</div>
</div>