<div class="wrapper">
        <!-- Sidebar  -->
        <% include templates/navigation %>
        

        <!-- Page Content  -->
        <div id="content">
            <% include templates/toggleNav %>
    

            <h2>CONTACT US</h2>
            <p>OUR INFO<br><br>
            phone
            email
            facebook
            twitter           
            </p>
            

            <div class="line"></div>

            

            
        </div>
    </div>