<div class="wrapper">
    <!-- Sidebar  -->
    <% include templates/navigation %>
    

    <!-- Page Content  -->
    <div id="content">
        <% include templates/toggleNav %>



        <h2><%= name%>'s Schedule</h2>
        
        <div class="line"></div>
        <p>Listed Schedule</p>

        

        
    </div>
</div>