<div class="wrapper">
    <!-- Sidebar  -->
    <% include templates/navigation %>
    

    <!-- Page Content  -->
    <div id="content">
        <% include templates/toggleNav %>



        <h2>Edit Profile</h2>
        
        <div class="line"></div>

        <div>
            <div class="col-md-12 align-items-center" style="background-color: #fff; margin-top: 25px; padding:20px;">
                <% include addOrEdit %>
            </div>
        </div>

        

        
    </div>
</div>