<meta http-equiv="refresh" content="0; URL='/profile'" />
<div class="wrapper">
    <!-- Sidebar  -->
    <% include templates/navigation %>
    

    <!-- Page Content  -->
    <div id="content">
        <% include templates/toggleNav %>



        <h2><%= name%>'s Profile</h2>
        
        <div class="line"></div>
        <p><a href="/profileEditor"><i class="fas fa-pencil-alt"></i>
            Edit your profile</a></p>

        

        
    </div>
</div>