<div class="wrapper">
        <!-- Sidebar  -->
        <% include templates/navigation %>
        

        <!-- Page Content  -->
        <div id="content">
            <% include templates/toggleNav %>

    

            <h2><%= name%> is not yet registered</h2>
            <p>Team Request<br><br>
            click here to register
            </p>
            

            <div class="line"></div>

            

            
        </div>
    </div>