<div class="wrapper">
        <!-- Sidebar  -->
        <% include templates/navigation %>
        

        <!-- Page Content  -->
        <div id="content">
            <% include templates/toggleNav %>

    

            <h2><%= name%>'s stats</h2>
            <p>STATISTICS<br><br>
            Your handicap is bad            
            </p>
            

            <div class="line"></div>

            

            
        </div>
    </div>