
       <nav id="sidebar">
            <div class="sidebar-header">
                <h3>USA BILLIARDS</h3>
                <strong>USA</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/dashboard">
                        <i class="fas fa-image"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#scheduleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Schedule
                    </a>
                    <ul class="collapse list-unstyled" id="scheduleSubmenu">
                        <li>
                            <a href="/list">List</a>
                        </li>
                        <li>
                            <a href="/calendar"></i>Calendar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/stats">
                        <i class="fas fa-chart-line"></i>
                        Stats
                    </a>
                </li>
                <li>
                    <a href="/registration">
                        <i class="fas fa-search"></i>
                       Registration
                    </a>
                <li>
                    <a href="/contact">
                        <i class="fas fa-paper-plane"></i>
                        Contact
                    </a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user"></i>User</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                        <li>
                            <a href="users/logout"><i class="fas fa-sign-out-alt"></i>Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        